{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
{% load static%}

    <div class="container">
        <div class="row ">
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card slideanim ">
              <img class="card-img-top" src="{% static 'app/media/1,2.jpg' %}" alt="Bologna">
              <div class="card-body">
                <h4 class="card-title">Bologna</h4>
                <h6 class="card-subtitle mb-2 text-muted">Emilia-Romagna Region, Italy</h6>
                <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
               
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card slideanim ">
              <img class="card-img-top" src="{% static 'app/media/2.jpg' %}" alt="Bologna">
              <div class="card-body">
                <h4 class="card-title">Bologna</h4>
                <h6 class="card-subtitle mb-2 text-muted">Emilia-Romagna Region, Italy</h6>
                <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
          
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card slideanim ">
              <img class="card-img-top" src="{% static 'app/media/1,2.jpg' %}" alt="Bologna">
              <div class="card-body">
                <h4 class="card-title">Bologna</h4>
                <h6 class="card-subtitle mb-2 text-muted">Emilia-Romagna Region, Italy</h6>
                <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
                <!--<a href="#" class="card-link">Read More</a>
                <a href="#" class="card-link">Book a Trip</a>-->
              </div>
            </div>
          </div>




        </div>
        <div class="row  ">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static 'app/media/1,2.jpg' %}" alt="Bologna">
                <div class="card-body">
                  <h4 class="card-title">Bologna</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Emilia-Romagna Region, Italy</h6>
                  <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
               
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static 'app/media/2.jpg' %}" alt="Bologna">
                <div class="card-body">
                  <h4 class="card-title">Bologna</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Emilia-Romagna Region, Italy</h6>
                  <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
                 
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static 'app/media/1,2.jpg' %}" alt="Bologna">
                <div class="card-body">
                  <h4 class="card-title">Bologna</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Emilia-Romagna Region, Italy</h6>
                  <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
               
                </div>
              </div>
            </div>
  
  
  
  
          </div>
          <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static 'app/media/1,2.jpg' %}" alt="Bologna">
                <div class="card-body">
                  <h4 class="card-title">Bologna</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Emilia-Romagna Region, Italy</h6>
                  <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
                  <a href="#" class="card-link">Read More</a>
                  <a href="#" class="card-link">Book a Trip</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static 'app/media/2.jpg' %}" alt="Bologna">
                <div class="card-body">
                  <h4 class="card-title">Bologna</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Emilia-Romagna Region, Italy</h6>
                  <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
                  <a href="#" class="card-link">Read More</a>
                  <a href="#" class="card-link">Book a Trip</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
              <div class="card">
                <img class="card-img-top" src="{% static 'app/media/1,2.jpg' %}" alt="Bologna">
                <div class="card-body">
                  <h4 class="card-title">Bologna</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Emilia-Romagna Region, Italy</h6>
                  <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
                  <a href="#" class="card-link">Read More</a>
                  <a href="#" class="card-link">Book a Trip</a>
                </div>
              </div>
            </div>
  
  
  
  
          </div>
      </div>
<div class="container">
      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'app/media/sl1.jpg' %}" alt="" width="1100" height="500">
          </div>
          <div class="carousel-item">
            <img src="{% static 'app/media/sl2.jpg' %}" alt="" width="1100" height="500">
          </div>
          <div class="carousel-item">
            <img src="{% static 'app/media/sl3.jpg' %}" alt="" width="1100" height="500">
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>

    </div>

   























</div>



{% endblock %}
